@media (max-width: 600px) {
    ul{
        display: flex;
        
    }
}
#header-img{
    width: 400px;
}
#header{
    padding: 30px;
}
#nav-bar{position:fixed;
top:0:}
#form{
    width: 100%;
    background-color: lightblue;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 600px){
    input{
        width: 100px;
    } 

}
