@media screen {
    #header-img{
        width: 200px;
    }
}
#header-img{
    width: 400px;
}
#header{
    padding: 30px;
}

#form{
    width: 100%;
    background-color: lightblue;
    height: 50px;
    display: flex;
    justify-content: center;
}